apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello
  labels:
    app: hello
spec:
  replicas: 3
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
      - name: main
        image: //hello_service/k8s:image
        ports:
          # This must match the port we start the server on in hello-service/main.go
          - containerPort: 8000